{% extends 'base.html' %}
{% block title %}My Dashboard{% endblock %}
{% block content %}

 <!--begin::App Main-->
      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Overview</h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Overview</li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <!--begin::Small Box Widget 1-->
                <div class="small-box" style="background-color: #17a2b8; color: white;">
                  <div class="inner">
                    <h3>12250<span style="font-size: 0.6em; margin-left: 4px; color: #f7f7f7;">INR</span></h3>
                    <p>Today's Sales</p>
                  </div>
                  <div class="small-box-icon">
                    <i class="bi bi-cash-coin" style="font-size: 4rem;"></i>
                  </div>
                  <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                    View all sales <i class="bi bi-arrow-right-circle"></i>
                  </a>
                </div>
                <!--end::Small Box Widget 1-->
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <!--begin::Small Box Widget 1-->
                <div class="small-box" style="background-color: #28a745; color: white;">
                  <div class="inner">
                    <h3>125</h3>
                    <p>Total items sold</p>
                  </div>
                  <div class="small-box-icon">
                    <i class="bi bi-card-checklist" style="font-size: 4rem;"></i>
                  </div>
                  <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                    View all sales <i class="bi bi-arrow-right-circle"></i>
                  </a>
                </div>
                <!--end::Small Box Widget 1-->
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <!--begin::Small Box Widget 1-->
                <div class="small-box" style="background-color: #ffc107; color: white;">
                  <div class="inner">
                    <h3>25<span style="font-size: 0.6em; margin-left: 4px; color: #f7f7f7;">INR</span></h3>
                    <p>Total Purchases</p>
                  </div>
                  <div class="small-box-icon">
                    <i class="bi bi-bag" style="font-size: 4rem;"></i>
                  </div>
                  <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                    View all purchases <i class="bi bi-arrow-right-circle"></i>
                  </a>
                </div>
                <!--end::Small Box Widget 1-->
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <!--begin::Small Box Widget 1-->
                <div class="small-box" style="background-color: #dc3545; color: white;">
                  <div class="inner">
                    <h3>2</h3>
                    <p>Low stock items</p>
                  </div>
                  <div class="small-box-icon">
                    <i class="bi bi-exclamation-triangle" style="font-size: 4rem;"></i>
                  </div>
                  <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                    View inventory <i class="bi bi-arrow-right-circle"></i>
                  </a>
                </div>
                <!--end::Small Box Widget 1-->
              </div>
            </div>
            <!-- /.row -->


            <!-- Info boxes -->
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-warning shadow-sm">
                    <i class="bi bi-piggy-bank-fill"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Month To Date Profit</span>
                    <span class="info-box-number"><h3>25000<span style="font-size: 0.6em; margin-left: 4px;">INR</span></h3>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-primary shadow-sm">
                    <i class="bi bi-cash"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Month To Date Sales</span>
                    <span class="info-box-number"><h3>35000<span style="font-size: 0.6em; margin-left: 4px;">INR</span></h3>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-danger shadow-sm">
                    <i class="bi bi-cart-fill"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Average Order Value</span>
                    <span class="info-box-number"><h3>400<span style="font-size: 0.6em; margin-left: 4px;">INR</span></h3>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <!-- fix for small devices only -->
              <!-- <div class="clearfix hidden-md-up"></div> -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-success shadow-sm">
                    <i class="bi bi-wallet-fill"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Month To Date Purchases</span>
                    <span class="info-box-number"><h3>12000<span style="font-size: 0.6em; margin-left: 4px;">INR</span></h3>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!--end::Container-->
        </div>
        <!--end::App Content-->
      </main>
      <!--end::App Main-->

{% endblock %}